.goTop{
    text-decoration : none ;
    color : white ;
    font-size : 12px ;
    background-color : grey ;
    background: grey;
    width : 20px ;
    height : 20px ;
    padding:5px;
    position:fixed;
    cursor : pointer ;
    border-radius : 10px ;
    
}
