.toolbox-fetcher-overlay{
	background : grey ;
  display:-webkit-flex ;
  display: flex ;
}
.toolbox-fetcher-loader{
	width: 40px ;
	height: 40px ;
	background: grey;
	border : 2px solid white ;
	border-radius : 22px ;
	animation: circle 1s linear infinite ;
}
.toolbox-fetcher-loader-hand{
	width: 20px ;
	border : 1px solid white ;
	transform : translate(20px, 20px) ;
}
@keyframes circle {
	from { transform : rotate(0deg) ;}
	to {transform : rotate(360deg) ;}
}

